@model Interns.Core.Data.Advertise

<div class="well">
    <h3>
        <strong> @Model.Title</strong>
    </h3>
    
    <div class="lead">@Model.Details</div>

    <div class="lead">
        <i>@Model.City</i>
        <span class="pull-right">
            Domain:
            <i>
                @Model.Domain.Name, @Model.SubDomain.Name
            </i>
        </span>
    </div>

    <div class="pull-left label label-primary">Date Created: @Model.CreateDate</div>
    <span class="pull-right label label-primary"> Application Deadline: @Model.EndDate</span>
</div>

