@model IEnumerable<InternsDataAccessLayer.Entities.User>

@{
    ViewBag.Title = "All Users";
}
<h2>Users</h2>

<div class="panel panel-default">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-left">ID</th> 
            <th>Name</th>
            <th>University</th>
            <th class="text-left">Email</th> 
            <th class="text-left">Role</th>
            <th class="text-center">Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">@item.Id</td>
                <td>@Html.ActionLink(item.UserName, "EditUser", new { item.Id })</td>
                @if (item.University != null)
                {
                    <td>@item.University</td>
                }
                else
                {
                    <td>-</td>
                }
                <td class="text-left">@item.Email</td>
                <td class="text-left">@item.Role.Type</td>
                <td class="text-center">
                    @Html.ActionLink("Delete","DeleteUser", new {id=item.Id}, new {@class="btn btn-default"})
                </td>
            </tr>
        }
    </table>
</div>
<div> @Html.ActionLink("Add User", "CreateUser", null, new {@class = "btn btn-default"}) </div>
