@model IEnumerable<Interns.Core.Data.SubDomain>
@*@model Dictionary<string,InternsDataAccessLayer.Entities.SubDomain>*@

@{
    ViewBag.Title = "SubDomains";
}

<h2>@ViewBag.DomainName's subdomains:</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            Subdomain
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditDomain", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteDomain", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "GetAllDomains","Domain")
</div>
